:root {
    --font1: 'Bree Serif', serif;
    --font2: 'Allura', cursive;
    --font3: 'Tangerine', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: var(--font1);
}

html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

hr {
    width: 50%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block
}

ul, li {
    list-style: none;
}

.spacer {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.6);
}

/* NAV BAR STARTS HERE */

.nav_bar {
    height: 56px;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.logo {
    font-size: 1.5rem;
    font-family: var(--font2);
    color: white;
    text-align: center;
}

.nav_bar ul {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav_bar ul li {
    padding: 0.3rem 0.4rem;
}

.nav_bar ul li:hover {
    border-top: 2px solid white;
}

.nav_bar ul li a {
    color: white;
}

.nav_hamburger {
    position: absolute;
    top: 50%;
    right: 5%;
    height: 2px;
    width: 30px;
    background-color: white;
    z-index: 2;
    display: none;
}

.nav_hamburger::before, .nav_hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 0;
    height: inherit;
    width: inherit;
    background-color: inherit;
}

.nav_hamburger::after {
    margin: -10px 0;
}

.mobile_nav_bar ul {
    display: none;
}

/* NAV BAR ENDS HERE */

/* BANNER STARTS HERE */

#banner {
    height: 100vh;
    width: 100%;
    margin-top: 56px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/banner_img.jpg');
    background-color: rosybrown;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

#banner_heading {
    margin-top: -5%;
    text-align: center;
    color: white;
    font-size: 6rem;
    font-family: var(--font2);
}

#banner_heading_hr {
    width: 30%;
    border-top: 0.2rem solid white;
}

#banner_tagline {
    margin: 3rem 0;
    color: white;
    font-size: 2.5rem;
    font-family: 'Allura', cursive;
}

#banner_button_div {
    width: 40%;
    bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.banner_button {
    padding: 0.5rem .8rem;
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1rem;
    box-shadow: none;
}

.banner_button:nth-of-type(2) {
    font-family: var(--font2);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);
    animation: glow-shadow 2s infinite ease;
}

/* BANNER ENDS HERE */

/* MENU STARTS HERE */

#menu_div {
    height: calc(100vh - 100px);
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

#menu_section_left {
    height: 100%;
    width: 25%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-right: 1px solid black;
}

#menu_section_right {
    height: 100%;
    width: 65%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

#menu_section_left h2 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

#menu_section_left ul {}

#menu_section_left ul li {
    margin: 2rem 0;
    padding: .4rem .6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.7);
}

#menu_section_left ul li:hover {
    background-color: rosybrown;
    color: white;
    cursor: pointer;
}

#menu_section_left ul li:hover span {
    color: white;
}

#menu_section_left ul span {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}

#menu_section_right>div:nth-of-type(1) {
    flex: 1 10 50%;
    height: 100%;
}

#menu_section_right>div:nth-of-type(2) {
    height: 100%;
    flex: 1 1 45%;
    padding: 0 .5rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu_item_img_div {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#menu_item_img_div>div:nth-of-type(1) {
    height: 100%;
    width: 50%;
}

#menu_item_img_div>div:nth-of-type(1)>img {
    height: 100%;
    width: 100%;
}

#menu_item_img_div>div:nth-of-type(2) {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#menu_item_img_div>div:nth-of-type(2)>img {
    height: 50%;
}

.menu_item_img {
    padding: 0.04rem;
}

#ingredients_div {
    height: 10%;
}

#menu_item_ingredients {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu_item_ingredients li {
    font-size: 1.5rem;
    margin: 0.3rem 0;
    font-family: var(--font3);
    color: white;
}


#menu_item_description {
    width: 90%;
    padding: 2rem;
    font-size: 1.5rem;
    font-family: var(--font3);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 40px 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

/* MENU ENDS HERE */

/* Add to Order Card Starts Here */

#add_to_cart_div {
    height: fit-content;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6) inset, -1px -1px 4px rgba(0, 0, 0, 0.6) inset;
}

.add_to_cart_title {
    color: white;
}

#add_to_cart_div label {
    color: rgba(255, 255, 255, 0.7);
    margin-right: 0.5rem;
}

#add_to_cart_div select {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    border-radius: 2rem;
}

#add_to_cart_div button {
    padding: 0.4rem;
    background-color: transparent;
    border: 0.4px solid rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    color: white;
}

/* Add to Order Card Ends Here */



/* TESTIMONIAL STARTS HERE */

#testimonial_div {
    height: fit-content;
    padding: 2rem;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);
}

#testimonial_div h3 {
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    color: white;
}

#testimonial_div hr {
    width: 10%;
    border-bottom: 0.2rem solid burlywood;
}

#testimonial_div h2 {
    margin: 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.testimonial_list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial_card {
    height: fit-content;
    width: 20%;
    margin: 1rem 0;
    padding: .5rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 40px 10px;
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.1), -1px -1px 6px rgba(255, 255, 255, 0.3);
}

.testimonial_title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: var(--font2);
    color: rgba(0, 0, 0, 0.9);
}

.testimonial_stars_div {
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}

.testimonial_stars_div i {
    color: white;
}

.testimonial_description {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font2);
    color: rgba(0, 0, 0, 0.5);
}

/* TESTIMONIAL ENDS HERE */


/* ANIMATIONS */

.fade_in {
    animation: fade-in 6s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes glow-shadow {
    from {
        box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
    }
    to {
        box-shadow: 1px 1px 4px rgba(255, 255, 255, 1);
    }
}

/* ANIMATIONS ENDS HERE */

/* MEDIA QUERIES */

@media (max-width: 900px) {
    .nav_bar ul {
        display: none;
    }
    .nav_hamburger {
        display: inline;
    }
    .mobile_nav_bar {
        height: 100%;
        width: 100%;
        padding: 8% 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: rgba(0, 0, 0, 1);
    }
    #mobile_nav_bar_close {
        padding: 0.5%;
        position: absolute;
        top: 3%;
        right: 5%;
        font-size: 2rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        border: 1px solid white;
        border-radius: 4rem;
    }
    .mobile_nav_bar .logo {
        font-size: 3rem;
        color: white;
        z-index: 2;
    }
    .mobile_nav_bar ul {
        height: 50%;
        margin: 10% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .mobile_nav_bar a {
        color: white;
    }

    /* Menu Section Media Query at max-width: 900px; */
    


    /* Testimonial Media Query max-width: 900px; */
    .testimonial_card {
        width: 35%;
    }
}

@media (max-width: 750px) {
    .nav_bar {
        height: 10vh;
    }
    /* Banner Media Queries Starts Here*/
    #banner {
        margin-top: 10vh;
    }
    #banner_heading {
        font-size: 3rem;
    }
    #banner_heading_hr {
        border-top: 1px solid white;
    }
    #banner_tagline {
        font-size: 1.5rem;
    }
    #banner_button_div {
        width: 80%;
    }
    /* Banner Media Queries Ends Here*/
    /* Media Query for  MENU STARTS HERE */
    /* Media Query for  MENU STARTS HERE */
    #menu_div {
        height: fit-content;
        flex-direction: column;
    }
    #menu_section_left {
        height: fit-content;
        width: 100%;
        padding: 1rem;
        flex-direction: row;
    }
    #menu_section_right {
        height: fit-content;
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
    #menu_section_left h2 {
        width: 20%;
        margin: 0;
        font-size: 1.5rem;
    }
    #menu_section_left ul {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #menu_section_left ul li {
        margin: 0;
        font-size: 0.75rem;
    }
    #menu_section_left ul li:hover {}
    #menu_section_left ul li:hover span {}
    #menu_section_left ul span {}
    #menu_section_right>div:nth-of-type(1) {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #menu_section_right>div:nth-of-type(2) {
        height: fit-content;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: row;
    }
    #menu_item_img_div {
        height: fit-content;
        width: 70%;
    }
    #menu_item_img_div>div:nth-of-type(1) {
        height: 50vh;
    }
    #menu_item_img_div>div:nth-of-type(1)>img {
        max-height: 100%;
    }
    #menu_item_img_div>div:nth-of-type(2) {
        height: 50vh;
    }
    #menu_item_img_div>div:nth-of-type(2)>img {
        max-height: 50%;
    }
    .menu_item_img {}
    #ingredients_div {
        width: 30%;
        height: 100%;
    }
    #menu_item_ingredients {
        flex-direction: column;
        align-items: center;
    }
    #menu_item_ingredients li {
        font-size: 1.5rem;
    }
    #menu_item_description {
        width: 95%;
        padding: 0.5rem 2rem;
        margin: 0 auto;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        border-radius: 1.5rem .5rem;
    }
    /* Media Query for MENU ENDS HERE */
    /* Media Query for MENU ENDS HERE */
    /* TESTIMONIAL Media Query Starts here */
    /* TESTIMONIAL Media Query Starts here */
    #testimonial_div {}
    #testimonial_div h3 {}
    #testimonial_div hr {}
    #testimonial_div h2 {}
    .testimonial_list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .testimonial_card {
        width: 35%;
        padding: 1rem;
    }
    .testimonial_title {
        font-size: 1.2rem;
    }
    .testimonial_stars_div {
        padding: 0.5rem 0;
        font-size: 1rem;
    }
    .testimonial_description {
        font-size: 1rem;
    }
    /* TESTIMONIAL ENDS HERE */
}

@media (max-width: 450px) {
    #menu_section_left {
        flex-wrap: wrap;
    }
    #menu_section_left h2 {
        width: 20%;
        margin: 0;
        font-size: 1.2rem;
        text-align: left;
    }

    #menu_section_left ul{
        flex-wrap: wrap;
    }

    #menu_section_left ul li{
        margin: .2rem;
    }
    /* TESTIMONIAL Media Queries STARTS HERE */
    #testimonial_div {}
    #testimonial_div h3 {}
    #testimonial_div hr {
        width: 75%;
    }
    #testimonial_div h2 {
        margin: 1.25rem;
    }
    .testimonial_list {}
    .testimonial_card {
        width: 60%;
        display: none;
    }
    .testimonial_card:nth-of-type(2n) {
        display: flex;
    }
    .testimonial_title {
        font-size: 1.25rem;
    }
    .testimonial_stars_div {
        font-size: .75rem;
    }
    .testimonial_stars_div i {}
    .testimonial_description {
        font-size: 1rem;
    }
    /* TESTIMONIAL Media Queries ENDS HERE */
}

/* DYNAMIC CLASSES */

.hide {
    display: none;
}